* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    background-color: #eee;
}

.side-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.side-nav a{
    /* background: #e74c3c; */
    color: #fff;
    font-size: 2.4rem;
    display: block;
    width: 13rem;
    padding: 1.2rem;
    text-decoration: none;
    margin: 0.8rem 0;
    border-radius: 6px;
    margin-left: -10rem;
    transition: all 0.5s;
}

.side-nav a:hover {
    margin-left: 0;
}

.page-1 {
    background-color: #e74c3c;
}

.page-2 {
    background-color: #c0392b;
}

.page-3 {
    background-color: #2c3e50;
}

.page-4 {
    background-color: #2980b9;
}